@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	/*background: linear-gradient(rgb(47,150,163), rgb(48,62,143));*/
	color: #fff;
	font-size: 15px;
}
	

.temperature, .location {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin-top: 2em;
}

@media(min-width: 650px) {
	.location {
		flex-direction: row;
	}
	.temperature {
		margin-top: 0;
	}
}

.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.degree-section span {
	margin: 10px;
	font-size: 3rem;

}

.degree-section h2 {
	
	font-size: 3.5rem;
}

